@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--dark-1: #121212;
	--dark-2: #181818;
	--dark-3: #242424;
	--dark-4: #565656;
	--light: #c1c1c1;
	--primary-1: #03045e;
	--primary-2: #0077b6;
	--primary-3: #00b4d8;
	--primary-4: #90e0ef;
	--primary-5: #caf0f8;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 1.7vh;
	color: var(--primary-4);
}

header {
	width: 100vw;
	height: 6rem;
	background-color: var(--dark-1);
	display: flex;
	flex-direction: row;
	align-items: center;
	row-gap: 10rem;
	justify-content: space-between;
}

header .header_logo {
	position: relative;
	left: 7rem;
	width: 10rem;
	height: 10rem;
}

header .dark_mode_switch {
	position: relative;
	right: 7rem;
}

main,
.notfound {
	background-color: var(--dark-2);
	height: calc(100vh - 6rem);
}
